@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --Raleway: 'Raleway', sans-serif;
    --OpenSans: 'Open Sans', sans-serif;
}
body{
    background-color:  hsl(218, 28%, 13%);
    font-size: 14px;
    margin: 0; 
}
.nav-item{
    max-width:1700px;
    margin: 0 auto;
}
nav{
    padding: 20px 10px 0px 10px;
    color: hsl(0, 0%, 100%);
    font-family: var(--Raleway);
    display: flex; 
    justify-content: space-between;
    
}

nav ul{
    list-style: none;
    position: relative;
    bottom: 20px;
    text-align: right;
    
}
nav li{
    display: inline-block;
    padding-right: 20px;
    opacity: 70%;
    font-size: small;
}
nav li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
nav li:hover{
    opacity: 100%;
    text-decoration: underline;  
}
header{
    text-align: center;
    color: hsl(0, 0%, 100%); 
    font-family: var(--Raleway);
    margin: 0 auto;
}
header p{
    font-family: var(--OpenSans);
    opacity: .7;
}
header button{
    font-family: var(--OpenSans);
    color:  hsl(0, 0%, 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 150px;
    width: 15em;
    border-radius: 20px;
    background: linear-gradient(to right, hsl(176, 68%, 50%),  hsl(198, 60%, 50%) );
    border: none;
    text-align: center;
}
header button:hover{
    background:  hsl(176, 68%, 70%);
}
.icons{
    height: 70px;
}
.grid-Features{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "access" "security"
    "collaboration" "anyfile";
    max-width: 1200px;
    margin: 0 auto;
}
.grid_acces{
    grid-area: access;
}
.grid_security{
    grid-area: security;
}
.grid_collaboration{
    grid-area: collaboration;
}
.grid_anyfile{
    grid-area: anyfile;
}
.sections{
    text-align: center;
    font-family: var(--OpenSans);
    color: white;
    margin: 0px 20px 100px 20px;
    
}
.sections h2{
    font-family: var(--Raleway);
}
.sections p{
    opacity: 0.7;
}
.sections2{
    font-family: var(--OpenSans);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% ;
    grid-row-gap: 30px;
    grid-template-areas: 
    "img" "text";
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;


} 
.sections2 h2{
    font-family: var(--Raleway);
    font-size: 18px;
    
} 
.sections2_img{
    grid-area: img;
    margin: 0 auto;
} 
.sections2 #img{
    width: 100%;
}
.sections2_text{
    grid-area: text;
}
.sections2 a{
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    border-bottom:  hsl(176, 68%, 64%) solid 2px;
}
.sections2 a::after{
    content: "";
    background: url(images/icon-arrow.svg);
    padding: 10px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position:center;
}
.sections2 a:hover::after{
    content: "";
    background: url(images/icon-arrow-hover.svg);
    padding: 10px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position:center;
}
.sections2 a:hover{
    color: white;
    border-bottom: white solid 2px;
}
.line-height{
    line-height: 1.6;
}
.background-image{
    background: url(images/bg-quotes.png) 35px 15px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
}
.grid-Satish, .grid-Iva, .grid-Bruce{
    color: white;
    font-family: var(--OpenSans);
    font-size: 12px;
    margin: 20px;
    display: inline-block;
}

.grid-helper{
    margin: 0 auto;
    width: 300px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    margin-bottom: 30px;
    display: grid;
}
.grid-helper img{
    float: left;
    border-radius: 100%;
    margin-right: 10px;
}
.grid-helper h4{
    margin-bottom: 1.6px;
}
.grid-helper p{
    opacity: .7;
}
.opacity{
    opacity: .7;
}
.EarlyAccess{
    margin: 0 auto;
    margin-bottom: 100px;
    width: 320px;
}
aside{
    background-color: hsl(217, 28%, 15%);
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-top: -80px;
    margin-bottom:-100px;
    position: relative;
    top: 150px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    
}
.aside_content{
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
aside h3{
    font-family: var(--Raleway);
}
aside p{
    font-family: var(--OpenSans);
}
#button{
    font-family: var(--OpenSans);
    color:  hsl(0, 0%, 100%);
    padding-top: 12px;
    padding-bottom: 12px;
    width: 20em;
    border-radius: 20px;
    background: linear-gradient(to right, hsl(176, 68%, 50%),  hsl(198, 60%, 50%) );
    border: none;
    text-align: center;
    font-weight: 500;
}
#button:hover{
    background:  hsl(176, 68%, 70%);
}
#text{
    margin-top: 20px;
    font-family: var(--OpenSans);
    padding-top: 12px;
    padding-bottom: 12px;
    width: 20em;
    border-radius: 20px;
    margin-bottom: 20px;
    border: none;
    
}
#text:focus{
    outline: none;
}
input::placeholder{
    padding-left: 20px;
    opacity: .7;
}
footer{
    background-color: hsl(216, 53%, 9%);
    padding-top: 200px;
    padding-bottom: 50px;
    color: white;
    font-family: var(--OpenSans);
}
footer ul{
    list-style: none;
    margin-left: -40px;
    line-height: 2.5;
}
footer img{
    margin-bottom: 30px;
    grid-area: img;
}
footer p{
    margin-bottom: 20px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    font-weight: bold;
}
.footer_content{
    padding: 20px;
    display: grid;
    grid-template-areas:
    "img" "location" "phone" "about" "contact" "icons";
}
.location_grid{
    grid-area: location;
}
.phone_grid{
    grid-area: phone;
}
.about_grid{
    grid-area: about;
}
.contact_grid{
    grid-area: contact;
}
#position::before{
    content: url(images/icon-location.svg);
    float: left;
    margin-right: 25px;
    padding-bottom: 30px;
}
#phone::before{
    content: url(images/icon-phone.svg) ;
    float: left;
    margin-right: 20px;
}
#mail::before{
    content: url(images/icon-email.svg);
    float: left;
    margin-right: 20px;
}
.grid_icons{
    display: flex;
    align-items:  flex-start;
    justify-content: center;
    grid-area: icons;
    
}
#facebook{
    background: url(images/401-facebook.svg);
    width: 15px;
    height: 15px;
    padding: 5px;
    background-size: 15px;
    border-radius: 50%;
    border: solid white 1px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
#twitter{
    background: url(images/407-twitter.svg);
    width: 15px;
    height: 15px;
    padding: 5px;
    background-size: 15px;
    border-radius: 50%;
    border: solid white 1px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
#instagram{
    background: url(images/403-instagram.svg);
    width: 15px;
    height: 15px;
    padding: 5px;
    background-size: 15px;
    border-radius: 50%;
    border: solid white 1px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
#facebook:hover{
    background: url(images/401,5-facebook.svg);
    border: solid hsl(176, 68%, 64%) 1px;
    background-repeat: no-repeat;
    background-position: center; 
    width: 15px;
    height: 15px;
    padding: 5px;
    background-size: 15px;
}
#twitter:hover{
    background: url(images/407,5-twitter.svg);
    border: solid hsl(176, 68%, 64%) 1px;
    background-repeat: no-repeat;
    background-position: center; 
    width: 15px;
    height: 15px;
    padding: 5px;
    background-size: 15px;
}
#instagram:hover{
    background: url(images/403,5-instagram.svg);
    border: solid hsl(176, 68%, 64%) 1px;
    background-repeat: no-repeat;
    background-position: center; 
    width: 15px;
    height: 15px;
    padding: 5px;
    background-size: 15px;
}

@media only screen and (min-width: 500px){
    body{
        font-size: 15px;
    }
    nav{
        padding: 30px 15px 0px 15px;
    }
    nav img{
        height: 30px;

    }
    header{
        padding-top: 10px;
        width: 90%;
        margin: 0 auto;
        max-width: 900px;
    }
    header button{
        width: 17em;
    }
    .sections{
        width: 400px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    .margin0{
        width: 400px;
    }
    .sections2 #img{
        width: 350px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    .background-image{
        background-position: 110px 10px;
        background-size: 30px;
    }
    .grid-Satish, .grid-Bruce, .grid-Iva{
        font-size: 13px;
    }
    .grid-helper{
        width: 350px;
    }
}
@media only screen and (min-width: 800px){
    body{
        font-size: 16px;
    }
    nav li{
        margin-left: 20px;
        font-size: 14px;
    }
    nav img{
        height: 40px;
    }
    header{
        width: 80%;
    }
    .grid-Features{
        grid-template-columns: 50%;
        grid-template-rows: 50%;
        grid-template-areas: 
        "acces security"
        "collaboration anyfile";
    }
    .sections2{
        grid-template-columns: 50%;
        grid-template-rows: 1fr ;
        grid-template-areas: 
        "img text";
    }
    .sections2 h2{
        font-size: 20px;
    }
}


