@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --Raleway: 'Raleway', sans-serif;
    --OpenSans: 'Open Sans', sans-serif;
}
body{
    background-color:  hsl(218, 28%, 13%);
    font-size: 14px;
    margin:0;
    
}

nav{
    margin: 20px 5px 40px 10px;
    color: hsl(0, 0%, 100%);
    font-family: var(--Raleway); 
}
nav ul{
    list-style: none;
    position: absolute;
    right: 5px;
    top: 10px;
}
nav li{
    display: inline-block;
    padding-right: 20px;
    opacity: 70%;
    font-size: small;
}
nav li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
nav li:hover{
    opacity: 100%;
    text-decoration: underline;  
}
header{
    text-align: center;
    color: hsl(0, 0%, 100%); 
    font-family: var(--Raleway);
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}
header p{
    font-family: var(--OpenSans);
    opacity: .7;
}
header button{
    font-family: var(--OpenSans);
    color:  hsl(0, 0%, 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 150px;
    width: 15em;
    border-radius: 20px;
    background: linear-gradient(to right, hsl(176, 68%, 50%),  hsl(198, 60%, 50%) );
    border: none;
    text-align: center;
}
header button:hover{
    background:  hsl(176, 68%, 70%);
}
.icons{
    height: 70px;
}

.sections{
    text-align: center;
    font-family: var(--OpenSans);
    color: white;
    margin: 0px 20px 100px 20px;
}
.sections h2{
    font-family: var(--Raleway);
}
.sections p{
    opacity: 0.7;
}
.margin0{
    margin: 0 auto;
    margin-top: 150px ;
    margin-bottom: 100px;
    width: 320px;

}
.sections2{
    font-family: var(--OpenSans);
    color: white;

} 
.sections2 h2{
    font-family: var(--Raleway);
    font-size: 18px;
} 
.sections2 #img{
    margin-bottom: 30px;
} 
.sections2 a{
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    border-bottom:  hsl(176, 68%, 64%) solid 2px;

}
.sections2 a:hover{
    color: white;
    border-bottom: white solid 2px;
}
.line-height{
    line-height: 1.6;
}
.background-image{
    background: url(images/bg-quotes.png) 35px 15px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
}
.grid-areas{
    color: white;
    font-family: var(--OpenSans);
    font-size: 12px;
    margin: 20px;
    display: inline-block;
}

.grid-helper{
    margin: 0 auto;
    width: 300px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    margin-bottom: 30px;
}
.grid-areas img{
    float: left;
    border-radius: 100%;
    margin-right: 10px;
}
.grid-areas h4{
    margin-bottom: 1.6px;
}
.grid-areas p{
    opacity: .7;
}
.opacity{
    opacity: .7;
}
aside{
    background-color: hsl(217, 28%, 15%);
    border-radius: 5px;
    color: white;
    text-align: center;
    position: relative;
}
footer{
    background-color: hsl(216, 53%, 9%);
    

}



